@model FBCOMSystemManagement.Models.Installation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Installation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeCient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ICCID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ICCID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NGSM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NGSM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompteSIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompteSIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConnexion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConnexion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distributeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distributeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPSLatitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPSLatitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPSLongitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPSLongitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATEIntervention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATEIntervention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emplacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emplacement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Immeublefibre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Immeublefibre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneBluetooth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneBluetooth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMSI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMSI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eNodeBID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eNodeBID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CELLband)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CELLband)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RSRP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RSRP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SINR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SINR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BandAuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BandAuto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRB_BH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRB_BH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRB_NBH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRB_NBH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatueScreen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatueScreen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SNRScreen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SNRScreen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeedScreen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeedScreen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTEScreen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTEScreen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoipScreen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoipScreen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PVPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PVPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarteCINRecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarteCINRecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarteCINVerso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarteCINVerso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureInside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureInside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureOutside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureOutside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SNRNegative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SNRNegative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPE.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
