@model IEnumerable<FBCOMSystemManagement.Models.CPE>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Liste des CPE</h1>

<p>
    <button type="button" class="btn btn-success" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"></path>
        </svg>
        <a asp-action="Create" class="text-white">Ajouter</a>
    </button>

</p>
<table class="table table-info table-bordered">
    <thead class="table-dark">
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SNAntenne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SNRouteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMEI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAjout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Installed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SNAntenne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SNRouteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMEI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAjout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Installed)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="text-dark">modifier <i class="bi bi-pencil-square"> </i> </a>
 |
                   <a asp-action="Delete" asp-route-id="@item.ID" class="text-dark">supprimer <i class="bi bi-trash-fill"></i></a>

            </td>
        </tr>
}
    </tbody>
</table>
